@import "company.css";
@import "font-awesome.css";
body {
	margin: 0;
}
.header {
	background-color: #1c5bc3;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	width: 1060px;
	margin: 0 auto;
}
.contacts {
	float: right;
}
.contacts__number {
	 color: #ffffff;
	 font-size: 21px;
	 font-family: 'robotobold'
}
.contacts__time {
	color: #ffffff;
	font-size: 14px;
	font-family: 'robotobold'; 
	text-decoration: underline;
}
.navigation {
	margin-top: 20px;

	padding: 0;
	list-style-type: none;
	float: left;
}
.navigation_link {
	color: #1c5bc3;
	font_size: 12px;
	font-family: 'robotobold';
	text-transform: uppercase;
	text-decoration: none;
}
.crew {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 900px;
}
.crew_link {
	color: #959494;
	display: block;
	font-family: 'robotobold';
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 0px;
	
}
.crew_item {
	color: #959494;
	font-size: 14px;
	font-family: 'robotobold';
	text-align: left;
	display: inline-block;
	width: 600px;
	margin-left: 40px;
	padding: 0px 0px 20px 0px;
	
}
.crew_item_index {
	color: #221f1f;


}
.nick {
	width: 100%;
	height: 100%;
	
}
.crew_pilot {
	border-bottom: 2px solid #CCC;
}
.crew_pilot:nth-child(5n+0){
	border-bottom:0px;
}
.name {
	color: #080808;
	font-size: 40px;
	font-family: 'robotobold';
	text-decoration: none;
	padding: 0;
}
.crew_image {
	display: inline-block;
	width: 150px;
	heigth: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.main {
	display: inline-block;
	width: 900px;
	margin-left: 80px;
}
.form {
    background: #f5f5f5;
    border-radius: 5px;

    width: 700px;
    margin-top: 10px;
}
.form__title {
    font-size: 49px;
    padding-top: 52px;
    margin-left: 70px;
    font-family: 'robotobold';
}
.column {
        display: inline-block;
        width: 47%;

}
.row {
    display: block;
	width: 560px;
    font-family: 'robotolight';
    margin-top: 10px;
    margin-left: 70px;
}
.textarea {
    width: 560px;
	height: 90px;
	padding-left: 10px;
}
.row__buttom {
    font-family: 'robotolight';
    font-size: 14px;
    color: #221f1f;
    width: 560px;
    margin: 33px 70px 24px 70px;
}
.row_lable {
    margin: 0px;
	padding-bottom: 10px;
}
.label__colunm {
	display: block;
    font-family: 'robotolight';
	padding-bottom: 10px;
}
.form__input {
	float: right;
    font-family: 'robotobold';
    font-size: 13px;
	color: #959494;
	background-color: #1c5bc3;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 46px 17px 21px;
	border-radius: 1px;
	vertical-align: top;
}
.column__margin {
	margin-right: 4%;
}
.text__column {
    width: 270px;
	height: 45px;
	padding-left: 10px;
}
.block__buttom {
    display: inline-block;
    width: 50%;
    padding: 14px 46px 17px 1px;
	padding-top: 0;
}
.radio_button {
	color: #1c5bc3;
 }
.footer {
	background-color: #1c5bc3;
}
.bottom__part {
	width: 1100px;
	height: 76px;
	background-color: #1c5bc3 ;

}
.social__text {
	text-decoration: none;
	width: 235px;
	height: 53px;
	color: white;
	margin: 10px;
}
.footer__column{
	display: inline-block;
	vertical-align: top;
}
.social__logo {
	float: right;
}
.footer__column__logo {
	margin-left: 190px;
	margin-right: 260px;
}
.fa {
	color: #1c5bc3;
}