@import "font-awesome.css";

.name__company {
    padding: 0px;

    font-family: 'robotobold';
    font-size: 49px;
    
}
.main__company {
    background-image: url("../images/back.jpg");
    width: 880px;
    height: 340px;
    margin-left: 110px;
    padding: 0px;

}
.about {
    width: 700px;
    padding: 0px;
    font-family: 'robotolight';
    font-size: 18px;
    line-height: 2em;
    margin-left: 200px;
}
.book {
    width: 700px;
    height: 140px;
    background-color: #1c5bc3;
}
.book__it {
    font-size: 18px;
    font-family: 'robotobold';
    padding: 21px;
    color: white;
}
.partners {
    width: 700px;
}
.partners_name {
    display: inline-block;
    font-size: 49px;
    font-family: 'robotobold';
    margin-top: 79px;
    margin-bottom: 68px;
    margin-left: 200px;
}
.partners__list {
    list-style-type: none;
    width: 700px;
     vertical-align: top;
    margin-left: 150px;
    margin-bottom: 71px;
    text-align: center;
 }
.partners__logo {

    min-height: 160px;
    display: inline-block;
    margin-bottom: 64px;
    margin-right: 90px;

}
.partners__logo:nth-child(3n+0){
    margin-right: 0px;
}
.footer {
    background-color: #1c5bc3;
}
.bottom__part {
    width: 1100px;
    height: 76px;
    background-color: #1c5bc3 ;

}
.social__paragraph {
    text-decoration: none;
    width: 285px;
    height: 53px;
    color: white;
    margin: 10px;

}
.social__logo {
    float: right;
}
fa {
    color: #1c5bc3;
}