@import "font-awesome.css";

.name__company {
    padding: 0px;
    font-family: 'robotobold';
    font-size: 49px;
    margin: 0;
}
.main__company {
    background-image: url("../images/back.jpg");
    height: 340px;
    padding-top: 100px;
    padding-left: 50px;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
}
.about {
    padding: 0px;
    font-family: 'robotolight';
    font-size: 18px;
    line-height: 2em;
}
.book {
    width: 700px;
    height: 140px;
    background-color: #1c5bc3;
}
.book__it {
    font-size: 18px;
    font-family: 'robotobold';
    padding: 21px;
    color: white;
}
.partners {

}
.partners_name {
    font-size: 49px;
    font-family: 'robotobold';

    margin-bottom: 68px;

}
.partners__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
.partners__logo {
    display: inline-block;
    margin-bottom: 64px;
    margin-right: 90px;
    vertical-align: middle;
}
.partners__logo:nth-child(3n+0){
    margin-right: 0px;
}
.footer {
    background-color: #1c5bc3;
}
.bottom__part {
    width: 1100px;
    height: 76px;
    background-color: #1c5bc3 ;

}
.social__paragraph {
    color: white;
    font-size: 14px;
    font-family: 'robotolight';
}

fa {
    color: #1c5bc3;
}