@import "font-awesome.css";
body {
	margin: 0;
}

.contacts {
	float: right;
}
.contacts__number {
	 color: #ffffff;
	 font-size: 21px;
	 font-family: 'robotobold';
	 margin: 0;
	padding: 0;

}
.contacts__time {
	color: #ffffff;
	font-size: 14px;
	font-family: 'robotobold';
	text-decoration: underline;
	margin: 0;
	padding: 0;

}
.navigation {
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
	float: left;
}
.navigation_link {
	color: #1c5bc3;
	font-size: 12px;
	font-family: 'robotobold';
	text-transform: uppercase;
	text-decoration: none;
}
.crew {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	width: 900px;
}
.crew_link {
	color: #221f1f;
	display: block;
	font-family: 'robotobold';
	text-decoration: none;
	text-align: center;

}
.crew_item {
	color: #1c5bc3;
	font-size: 14px;
	font-family: 'robotobold';
	text-align: center;


}
.nick {
	width: 50%;
	height: 50%;
}
.crew_pilot {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	width: 280px;
}
.fa {
	color: #1c5bc3;
}
.reviews {
	font-size: 49px;
	font-family: 'robotobold';
	color: #000;
	margin: 0;
	padding: 7px;

}
.command__image {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;

}
.command__picture {
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}
