@import "font-awesome.css";

.greeting {
    background-image: url('../images/background.png');
    height: 100vh;
    margin: 0;
    padding: 0;
}
.intro {
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.intro__link {
    font-family: 'robotobold';
    font-size: 12px;
    float: none;
    color: #1c5bc4;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 1px;
    padding: 17px 20px 17px 23px;
    border: 1px solid #1c5bc4;
    text-decoration: none;
}
.intro__link:active {
    font-family: 'robotobold';
    font-size: 12px;
    float: none;
    color: white;
    background-color: #1c5bc3;
    text-transform: uppercase;
    border-radius: 1px;
    padding: 17px 20px 17px 23px;
    border: 1px solid #1c5bc4;
    text-decoration: none;
}
.fa:active{
    color: white;
    font-size: 19px;
}
.intro__image {
    margin-bottom: 47px;
    margin-left: 18px;

}
